<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="telephone=yes" name="format-detection" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <title>V1.2.1版本功能介绍</title>
    <link rel="stylesheet" type="text/css" href="./css/version.css"/>
</head>
<body>

<div class="update_article">
    <h2 class="update_caption">新增审批转交和审批摘要功能</h2>
    <ul class="update_info">
        <li>
            <div class="title">1、新增审批转交和审批摘要功能；</div>
            <img class="pic" src="../../css/img/approve/turn-over.png" alt="">
        </li>
        <li>
            <div class="title">2、个人资料页允许自己给自己发消息；</div>
            <img class="pic" src="../../css/img/approve/self-msg.png" alt="">
        </li>
        <li>
            <div class="title">3、增加Aeromind用户协议及隐私政策</div>
        </li>
    </ul>
</div>
</body>
</html>
