<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="telephone=yes" name="format-detection" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <title>V1.2.0版本功能介绍</title>
    <link rel="stylesheet" type="text/css" href="./css/version.css"/>
</head>
<body>

<div class="update_article">
    <h2 class="update_caption">频道功能全新上线</h2>
    <ul class="update_info">
        <li>
            <div class="title">1、什么是频道？</div>
            <p>频道，全称「团队智能频道」，专为企业场景量身设计的新型多人沟通及协作方式。她能够有效地提高沟通效率、简化管理。具有“成员列表自动更新免维护”；“成员人数不设上限”；“消息永久保存云端，新成员可直接查看历史数据”；“消息提醒方式依信息类型区别，简洁准确少干扰”；“聚合多种应用信息，一处登录全局处理”等多种特色亮点功能。</p>
        </li>
        <li>
            <div class="title">2、频道支持大规模企业的全员沟通</div>
            <img class="pic" src="./images/v1.2.0/channel-1.png"/>
            <p>频道成员数不设上限，有别于群组限制只能容纳一定人数；适合各种企业规模，提供大量人员高效沟通的解决方案。</p>
        </li>
        <li>
            <div class="title">3、依据管理员设定的条件，可智能创建频道，并动态维护成员列表</div>
            <img class="pic" src="./images/v1.2.0/channel-2.png"/>
            <img class="pic" src="./images/v1.2.0/channel-3.png"/>
            <p>频道的创建，是基于一定的条件(如级别、部门架构等)自动筛选符合的成员范围。成员列表的维护，依照条件设定自动更新匹配，无须手动拉人删人，降低人员管理的成本，同时与公司组织架构成员动态同步，入职即加入，离职即退出。</p>
        </li>
        <li>
            <div class="title">4、频道消息可永久保存和查看</div>
            <img class="pic" src="./images/v1.2.0/channel-4.png"/>
            <p>频道中的历史信息及过程档案，均可永久保存和查看。新人加入频道后，可直接查阅相关历史记录，快速上手。</p>
        </li>
        <li>
            <div class="title">5、频道里的消息，可以点赞哦</div>
            <img class="pic" src="./images/v1.2.0/channel-5.png"/>
            <p>在频道中发了一项工作成果，可以收获大家的点赞，是对工作上最大的认可和鼓励。</p>
        </li>
        <li>
            <div class="title">6、频道分为官方频道和个人频道</div>
            <img class="pic" src="./images/v1.2.0/channel-6.png"/>
            <p>官方频道，是由企业管理员创建和维护；而个人频道是由每个人自己创建的。本期版本的频道功能，只有官方频道哦。也就是你进入的每个频道，都是官方的管理员根据条件把你筛选进来的，做好心理准备哦。个人频道的创建，后续版本会更新！</p>
        </li>
        <li>
            <div class="title">7、频道默认只提醒特殊类型的重要消息，如消息回执、@某人、公告这类特殊消息才算做未读数哦，避免无效消息对你的干扰以及流量的耗费</div>
            <img class="pic" src="./images/v1.2.0/channel-7.png"/>
            <img class="pic" src="./images/v1.2.0/channel-8.png"/>
            <p></p>
        </li>
        <li>
            <div class="title">8、频道的好，你需要慢慢发现~</div>
            <p>频道会陆续推出更多有趣好玩，又提高工作效率的功能哦，如主题消息，定时提醒，频道归档等；还会整合其他应用,如wiki，jira，邮箱等，满足在频道中一站式处理各类办公信息的需求。</p>
        </li>
    </ul>
</div>
</body>
</html>
