<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="telephone=yes" name="format-detection" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <title>V1.3.0版本功能介绍</title>
    <link rel="stylesheet" type="text/css" href="./css/version.css"/>
</head>
<body>

<div class="update_article">
    <h2 class="update_caption">我们正式更名为“Aeromind”啦!</h2>
    <ul class="update_info">
        <li>
            <div class="title">1、我们正式更名为“Aeromind”啦，Aeromind给工作飞一般的感觉；</div>
            <img class="pic" src="../../css/img/930/930-1.png" alt="">
        </li>
        <li>
            <div class="title">2、频道管理员可以转让了；</div>
            <img class="pic" src="../../css/img/930/930-2.png" alt="">
        </li>
        <li>
            <div class="title">3、频道名称、群名称、联系人姓名支持拼音搜索，全拼、简拼一个都不能少；</div>
            <img class="pic" src="../../css/img/930/930-3.png" alt="">
        </li>
        <li>
            <div class="title">4、发送图片为原图，无任何压缩。</div>
        </li>
    </ul>
</div>
</body>
</html>
