<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Aeromind－－Version update details</title>
    <link rel="shortcut icon" type="image/x-icon" href="../css/img/website/favicon.ico" media="screen"/>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" media="screen"/>
    <script type="text/javascript" src="/lib/ecui.js"></script>
    <link rel="stylesheet" type="text/css" href="detail-common.css">
</head>
<body>
<div class="main">
    <iframe src="../main/header.html" frameborder="0" width="100%" height="84px" marginwidth="0"
            marginheight="0"></iframe>
    <!-- 详情页盒子 -->
    <div class="det-content-box">
        <div class="det-content">
            <div class="det-title">
                <div class="det-circle"></div>
                <span>Aeromind1.1.4 for iOS 考勤，公告，审批应用，全新上线</span>
                <p class="det-date">发布日期：2017-6-28&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布版本：v1.1.4</p>
            </div>
            <div class="det-actual clearfix">
                <span>1.大家期盼已久的移动考勤打卡功能终于上线啦！手机极速打卡，告别传统考勤高峰排队；直观的显示考勤数据，汇总了你的出勤时间，方便快捷，快来使用吧；</span>
                <img src="../css/img/download/attend2x.jpg" alt="">
            </div>
            <div class="det-actual clearfix">
                <span>2.新增发布公告功能，企业统一发布，支持员工多端接收，重要公告一键收藏。</span>
                <img src="../css/img/download/notice2x.jpg" alt="">
            </div>
            <div class="det-actual clearfix">
                <span>3.新增审批功能，出差，报销，请假~从此不再繁琐。手机快速发起，处理各类审批，方便高效。</span>
                <img src="../css/img/download/approve2x.jpg" alt="">
            </div>
        </div>

    </div>
    <iframe src="../main/footer.html" width="100%" frameborder="0" height="263px"></iframe>
</div>
</body>
</html>

