<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Aeromind－－Version update details</title>
    <link rel="shortcut icon" type="image/x-icon" href="../css/img/website/favicon.ico" media="screen"/>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" media="screen"/>
    <script type="text/javascript" src="/lib/ecui.js"></script>
    <link rel="stylesheet" type="text/css" href="detail-common.css">
</head>
<body>
<div class="main">
    <iframe src="../main/header.html" frameborder="0" width="100%" height="84px" marginwidth="0"
            marginheight="0"></iframe>
    <!-- 详情页盒子 -->
    <div class="det-content-box">
        <div class="det-content">
            <div class="det-title">
                <div class="det-circle"></div>
                <span>优化通讯录展示，优化员工管理</span>
                <p class="det-date">发布日期:2016-8-15&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布版本：v1.0.1</p>
            </div>
            <div class="det-actual clearfix">
                <span>1.优化通讯录展示样式，让您快速找到亟待“交流”的同事。</span>
            </div>
            <div class="det-actual clearfix">
                <span>2.新增“邀请码形式”激活员工状态，账号信息更安全。</span>
            </div>
            <div class="det-actual clearfix">
                <span>3.新增“离职员工处理方式”，妥善保障企业信息完整性。</span>
            </div>
            <div class="det-actual clearfix">
                <span>4.新增版本更新提示，让您第一时间体验新版本新功能。</span>
            </div>
        </div>

    </div>
    <iframe src="../main/footer.html" width="100%" frameborder="0" height="263px"></iframe>
</div>
</body>
</html>

