<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Aeromind－－Version update details</title>
    <link rel="shortcut icon" type="image/x-icon" href="../css/img/website/favicon.ico" media="screen"/>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" media="screen"/>
    <script type="text/javascript" src="/lib/ecui.js"></script>
    <link rel="stylesheet" type="text/css" href="detail-common.css">
</head>
<body>
<div class="main">
    <iframe src="../main/header.html" frameborder="0" width="100%" height="84px" marginwidth="0"
            marginheight="0"></iframe>
    <!-- 详情页盒子 -->
    <div class="det-content-box">
        <div class="det-content">
            <div class="det-title">
                <div class="det-circle"></div>
                <span>Aeromind for Mac 抢鲜版 全新上线</span>
                <p class="det-date">发布日期：2017-4-28&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布版本：Beta版</p>
            </div>
            <div class="det-actual clearfix">
                <span>1.具备基础的im聊天功能</span>
                <img src="../css/img/download/im-talk.jpg" alt="">
            </div>
            <div class="det-actual clearfix">
                <span>2.提供基于组织架构的通讯录</span>
                <img src="../css/img/download/address.jpg" alt="">
            </div>
        </div>

    </div>
    <iframe src="../main/footer.html" width="100%" frameborder="0" height="263px"></iframe>
</div>
</body>
</html>

