<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Aeromind－－Version update details</title>
    <link rel="shortcut icon" type="image/x-icon" href="../css/img/website/favicon.ico" media="screen"/>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" media="screen"/>
    <script type="text/javascript" src="/lib/ecui.js"></script>
    <link rel="stylesheet" type="text/css" href="detail-common.css">
</head>
<body>
<div class="main">
    <iframe src="../main/header.html" frameborder="0" width="100%" height="84px" marginwidth="0"
            marginheight="0"></iframe>
    <!-- 详情页盒子 -->
    <div class="det-content-box">
        <div class="det-content">
            <div class="det-title">
                <div class="det-circle"></div>
                <span>Aeromind1.1.2 for Mac 增加消息免打扰设置，可以给自己发消息了</span>
                <p class="det-date">发布日期：2017-8-31&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布版本：v1.1.2</p>
            </div>
            <div class="det-actual clearfix">
                <span>1.增加消息免打扰设置</span>
                <img src="../css/img/approve/pc-830-1.png" alt="">
            </div>
            <div class="det-actual clearfix">
                <span>2.个人资料页允许自己给自己发消息</span>
                <img src="../css/img/approve/pc-830-2.png" alt="">
            </div>
            <div class="det-actual clearfix">
                <span>3.支持发送消息前预览图片，优化了Mac电脑预览图片时的用户体验</span>
                <img src="../css/img/approve/pc-830-3.png" alt="">
            </div>
            <div class="det-actual clearfix">
                <span>4.增加桌面端网络连接断开时的友情提醒</span>
                <img src="../css/img/approve/pc-830-4.png" alt="">
            </div>
            <div class="det-actual clearfix">
                <span>5.Ta的资料页显示设置星标联系人</span>
                <img src="../css/img/approve/pc-830-5.png" alt="">
            </div>
            <div class="det-actual clearfix">
                <span>6.增加Aeromind用户协议及隐私政策</span>
            </div>
        </div>

    </div>
    <iframe src="../main/footer.html" width="100%" frameborder="0" height="263px"></iframe>
</div>
</body>
</html>

