<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Aeromind－－Version update details</title>
    <link rel="shortcut icon" type="image/x-icon" href="../css/img/website/favicon.ico" media="screen"/>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" media="screen"/>
    <script type="text/javascript" src="/lib/ecui.js"></script>
    <link rel="stylesheet" type="text/css" href="detail-common.css">
</head>
<body>
<div class="main">
    <iframe src="../main/header.html" frameborder="0" width="100%" height="84px" marginwidth="0"
            marginheight="0"></iframe>
    <!-- 详情页盒子 -->
    <div class="det-content-box">
        <div class="det-content">
            <div class="det-title">
                <div class="det-circle"></div>
                <span>Aeromind1.3.0 for Windows 我们正式更名为“Aeromind”啦！</span>
                <p class="det-date">发布日期：2017-10-10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布版本：v1.3.0</p>
            </div>
            <div class="det-actual clearfix">
                <span>1.我们正式更名为“Aeromind”啦，Aeromind给工作飞一般的感觉；</span>
                <img src="../css/img/930/930-win-1.png" alt="">
            </div>
            <div class="det-actual clearfix">
                <span>2.增加系统托盘消息盒子功能，快速预览单聊、群聊、频道未读新消息；</span>
                <img src="../css/img/930/930-win-2.png" alt="">
            </div>
            <div class="det-actual clearfix">
                <span>3.桌面端【设置】菜单增加【快捷按键】功能，支持【发送消息】和【换行】快捷键设置，【屏幕截图】和【打开窗口】自定义快捷键设置，检测热键冲突等功能，Windows支持【Esc】关闭窗口功能；</span>
                <img src="../css/img/930/930-win-3.png" alt="">
            </div>
            <div class="det-actual clearfix">
                <span>4.桌面端【更多】菜单增加【下载手机版】入口，可快速扫码下载移动端应用；</span>
                <img src="../css/img/930/930-win-4.png" alt="">
            </div>
            <div class="det-actual clearfix">
                <span>5.发送图片为原图，无任何压缩。</span>
            </div>
        </div>

    </div>
    <iframe src="../main/footer.html" width="100%" frameborder="0" height="263px"></iframe>
</div>
</body>
</html>

