<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aeromind软件许可及服务协议</title>
    <link rel="shortcut icon" type="image/x-icon" href="../css/img/website/favicon.ico" media="screen"/>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../css/agreement.css">
</head>
<body>
<div class="main">
    <div class="header-box">
        <div class="header">
            <div class="fl clearfix">
                <a class="fl title" href="/statics/main/main.html">Aeromind</a>
            </div>
            <a href="../main/main.html" class="fc">下载</a>
            <div class="fr">
                <a class="fl login-btn" href="/login.html">登录</a>
                <a class="fl create-company-btn" href="/pages/createCompany/createCompany.html">创建公司</a>
            </div>
        </div>
    </div>
    <div class="det-content-box">
        <div class="det-title">
            Aeromind软件许可服务协议
        </div>
        <div class="det-content">

            <div class="greet">欢迎你与各国美平台(详见定义条款)共同签署本《Aeromind用户服务协议》（下称“本协议”）并使用国美平台服务！</div>
            <div class="section-warpper">
                <p class="section">[审慎阅读]
                    为使用Aeromind软件及服务，您应当阅读并遵守《Aeromind软件许可及服务协议》（以下简称“本协议”）。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。限制、免责条款可能以加粗形式提示您注意，您应重点阅读。</p>
                <p class="section section2">
                    除非您已充分阅读并接受本协议所有条款，否则您无权下载、安装或使用本软件及相关服务。您的下载、安装、使用、获取Aeromind服务管理帐号及Aeromind最终用户帐号（以下简称“Aeromind帐号”）、登录等行为即视为您已阅读并同意上述协议的约束。届时您不应以未阅读本协议的内容或者其他理由，主张本协议无效，或要求撤销本协议。如果您不同意本协议或其中任何条款约定，您应立即停止注册、停止使用。</p>
                <p class="section section2 section3">如果您未满18周岁，请在法定监护人的陪同下阅读本协议及其他单独协议，并特别注意未成年人使用条款。</p>
            </div>
            <div class="list">
                <h1 class="Title-level-one">一.协议的范围</h1>
                <div class="two-title-warpper">
                    <p class="sub-line">1.1 协议适用主体范围</p>
                    <p class="sub-line">1.1.1
                        本协议是通过Aeromind网站、移动客户端软件及其他方式使用Aeromind服务的用户与美信网络技术有限公司（以下简称运营方）之间关于您下载、安装、使用、复制本软件，以及使用本软件相关服务所订立的协议。</p>
                    <p class="sub-line">
                        1.1.2 “Aeromind用户”是指注册、登录、使用Aeromind软件及服务并获得管理权限的个人或组织，在本协议中更多地称为“您”。“最终用户”是指通过Aeromind用户获得Aeromind软件使用权限的个人用户。前述“Aeromind用户”及“最终用户”统称为“用户”或“所有用户”。</p>
                    <p class="sub-line">1.2 协议内容</p>
                    <p class="sub-line last">
                        本协议内容同时包括运营方已经发布或将来可能发布的关于本服务的相关协议、业务规则、各项政策、通知、警示、提示、声明等内容。上述内容一经正式发布，即为本协议不可分割的组成部分，您同样应当遵守。</p>
                </div>
            </div>
            <div class="list">
                <h1 class="Title-level-one">二、关于本服务</h1>
                <div class="two-title-warpper">
                    <p class="sub-line">2.1
                        本服务内容是指运营方向用户提供的基于办公场景的SaaS云服务平台（以下简称“Aeromind”），支持单人、多人参与，在发送语音、图片和文字等即时通讯服务的基础上，同时为用户提供包括但不限于组织管理、音视频通话、企业通讯录、企业级应用等服务（以下简称“本服务”）。</p>
                    <p class="sub-line">2.2 本服务的形式</p>
                    <p class="sub-line">2.2.1
                        您使用本服务需要注册Aeromind帐号并下载Aeromind客户端软件，本软件运营方将向您提供Aeromind的管理权限、使用功能和使用说明等服务，并尽应有之努力保障本服务的正常运行。</p>
                    <p class="sub-line">2.2.2
                        本服务中Aeromind客户端软件提供包括但不限于Windows、Mac、iOS、Android、web等多个应用版本（具体以Aeromind提供的版本为准），用户必须选择与所安装终端设备相匹配的软件版本。Aeromind会不断丰富应用版本等，如您已注册使用一种版本的服务，则可以以同一帐号使用其他版本的服务，本协议自动适用于您所使用的所有版本的软件和服务。</p>
                    <p class="sub-line">2.2.3
                        您可以申请Aeromind服务管理帐号，并可通过该管理帐号上传和管理组织成员通讯录，邀请组织成员加入，并通过Aeromind实现内部成员沟通、工作互动等目的。</p>
                    <p class="sub-line">2.3 本服务许可的范围</p>
                    <p class="sub-line">2.3.1 运营方给予您一项不可转让的、非排他性的许可，以使用本软件。</p>
                    <p class="sub-line">2.3.2 您可以为使用本软件及服务的目的复制本软件的一个副本，仅用作备份。备份副本必须包含原软件中含有的所有著作权信息。</p>
                    <p class="sub-line">2.3.3
                        本条及本协议其他条款未明示授权的其他一切权利仍由运营方保留，您在行使这些权利时须另外取得运营方的书面许可。运营方如果未行使前述任何权利，并不构成对该权利的放弃。</p>
                </div>
            </div>
            <div class="list last-list">
                <h1 class="Title-level-one">三、软件的获取</h1>
                <div class="two-title-warpper">
                    <p class="sub-line">3.1 您可以直接从Aeromind官方网站上获取本软件，也可以从得到运营方授权的第三方获取。</p>
                    <p class="sub-line">3.2 如果您从未经运营方授权的第三方获取本软件或与本软件名称相同的安装程序，运营方无法保证该软件能够正常使用，并对因此给您造成的损失不予负责。</p>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>