<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="author" content="下载"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="/css/img/website/favicon.ico" media="screen"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/css/more.css">
    <title>Aeromind官网——<%=title%></title>
</head>
<body>
<%include ./header.html%>
<div class="container">
    <div class="container-box clearfix">
        <div class="menu" id="menu">
            <div id="onebox" class="q-menu-img active">
                <span id="one" class="h3 arrowe">常见问题</span>
                <ul class="ulmenu1" id="ulmenu">
                    <li><a id="login" class="selected">注册登录</a></li>
                    <li><a id="opeat">基础使用</a></li>
                    <!--  <li><a id="client">终端操作</a></li> -->
                </ul>
            </div>
            <a id="two" class="h3 menu-img">Aeromind用户服务协议</a>
            <a id="three" class="h3 imgthree">隐私政策</a>
        </div>
        <div class="content" id="content">
            <div class="menu1 menu_tab" id="menu1">
                <div id="tab1" class="tab show">
                    <p class="tt-title">注册登录</p>
                    <p class="tt">1.首次使用如何注册Aeromind账号？</p>
                    <p>
                        企业管理员通过手机号码在管理端添加员工，添加完成之后向员工发送加入企业短信等待用户确认，短信内容包括加入企业链
                        接，员工收到短信后，点击短信链接，跳转到员工邀请登录页面，输入正确的短信验证码，进入设置密码页面，按照要求设置 密码并进行两次正确输入，点击【注册并加入企业】后则注册成功。
                    </p>
                    <p class="tt">2.如何获得登录Aeromind账号和密码？</p>
                    <p>企业管理员通过手机号码在管理端添加员工，添加成功后，员工会收到加入企业邀请短信，该员工手机号即为Aeromind账号，密码由用户自己设置。</p>
                    <p class="tt">3.如何创建企业？</p>
                    <p>点击官网右上角【注册企业】入口，填写账号、设置密码、填写企业基础信息后，即可创建企业成功。</p>
                    <p class="tt">4.如何加入企业？</p>
                    <p>
                        企业管理员通过手机号码在管理端添加员工，添加完成之后向员工发送加入企业短信等待用户确认，短信内容包括加入企业链接，员工收到短信后，点击短信链接，跳转到员工邀请登录页面，输入正确的短信验证码，进入设置密码页面，按照要求设置密码并进行两次正确输入，点击【注册并加入企业】后则加入企业成功。注：目前仅支持一个员工加入一个企业，暂不支持一个员工加入多个企业。</p>
                    <p class="tt">5.如何登录Aeromind客户端？</p>
                    <p>登录Aeromind桌面端，下载安装桌面客户端软件成功后，加入企业即可登录。<br>
                        登录Aeromind 移动端，下载安装移动客户端软件成功后，加入企业即可登录。</p>
                    <p class="tt">6.如何登录Aeromind工作台？</p>
                    <p>在电脑浏览器打开网址：work.gomeplus.com，点击首页右上角的【登录企业】。
                        企业管理员角色：支持通讯录管理、职务角色、应用管理和沟通管理。
                        员工角色：支持通讯录管理和应用管理。</p>
                    <p class="tt">7.忘记登录密码了怎么办，如何找回密码？</p>
                    <p>登录页面点击【忘记密码】，通过手机号验证码方式设置新密码即可。</p>
                    <p class="tt">8.是否支持邮箱登录？</p>
                    <p>目前暂不支持邮箱登录，仅支持手机号登录。</p>
                    <p class="tt">9.收不到短信验证码怎么办？</p>
                    <p>60秒后点击【获取验证码】后重新获取短信验证码。</p>
                </div>
                <div id="tab2" class="tab">
                    <p class="tt-title">基础使用</p>
                    <p class="tt">1.什么是Aeromind？</p>
                    <p>
                        Aeromind简称AM，是由美信网络技术有限公司开发的一款SaaS企业服务平台。Aeromind跳出同类型产品单一的企业管理的范畴，除工作沟通和全面的移动办公等支持之外，Aeromind还将具备完善的企业应用管理机制，提供基础的企业事务管理服务。</p>
                    <p class="tt">2.如何下载Aeromind客户端？</p>
                    <p>Aeromind桌面客户端下载：官网work.gomeplus.com->下载，选择适配电脑系统的版本。<br>
                        移动客户端下载，有两种方式：<br>
                        (1)官网work.gomeplus.com->下载，选择适配手机系统的版本或者扫描二维码下载；<br>
                        (2)在各大应用商店中搜索“Aeromind”后进行下载安装，如苹果App store、华为、小米、百度、应用宝等应用商店下载。</p>
                    <p class="tt">3.什么是频道，频道和群聊有什么区别？</p>
                    <p>频道，全称团队智能频道，是针对企沟通场景的，可有效提高沟通效率，降低企业管理成本的多人沟通及协作方式。
                        频道和群聊的主要区别表现为：频道成员不设上限，群聊成员上限100人；依据管理员设定的条件，可智能创建频道，并动态维护成员列表，同时与组织架构同步，入职即加入，离职即退出；频道中的历史信息及文档可永久保存到云端，新人加入频道后，可直接查阅相关历史记录，群聊消息则保存到本地；频道里的消息可以点赞，群聊中的消息不支持点赞；频道默认只提醒特殊类型的重要消息，如消息回执、@某人、公告这类特殊消息才算做未读数哦，避免无效消息对你的干扰以及流量的耗费。</p>
                    <p class="tt">4.什么是全员频道？</p>
                    <p>全员频道由企业管理员创建，该频道成员无上限，是支持企业各级组织架构全体成员的频道，新员工入职后会自动加入全员频道，离职后自动退出全员频道。</p>
                    <p class="tt">5.什么是部门频道？</p>
                    <p>部门频道由企业管理员创建，该频道成员无上限，新员工入职后会自动加入所属的部门频道，离职后自动退出部门频道，部门频道包括同一部门当前所有在职员工，无需创建其它群组。</p>
                    <p class="tt">6.我能自己创建频道吗？</p>
                    <p>目前是不可以的，官方频道由企业管理员在管理端创建。</p>
                    <p class="tt">7.更改手机号码之后，我的个人信息会不会受到影响？</p>
                    <p>更换手机号码之后，登录手机号即是更改后的手机号，同时您的个人信息会及时更新，包括您的职位、兼职、频道等各种信息不会受到影响，轻松替换。</p>
                    <p class="tt">8.我的星标联系人离职后还能通过Aeromind联系到他吗？</p>
                    <p>您的星标联系人离职后，星标列表中该同事信息会被移除，星标联系人数目自动减一。</p>
                    <p class="tt">9.消息撤回有时间限制吗？</p>
                    <p>频道的消息支持随时撤回，单聊群聊消息发送时间在10分钟以内的可撤回。</p>
                    <p class="tt">10.如果我是群主，删除并退出该群，这个群还存在吗？</p>
                    <p>群主删除并退出群，群仍然存在的，默认由入群的第二人担任群主。</p>
                    <p class="tt">11.Aeromind客户端软件各自适应什么系统？</p>
                    <p>Windows客户端：支持Windows7及以上<br>
                        Mac客户端：支持OS X10.8及以上<br>
                        Android客户端：Android4.0及以上<br>
                        iOS客户端：iOS8.0及以上</p>
                    <p class="tt">12.如何联系Aeromind客服？</p>
                    <p>官方客服邮箱：aeromind_kf@gomeplus.com<br>
                        官方客服电话：010-57950555（周一至周日 9:00-21:00）</p>


                </div>
                <!--  <div id="tab3" class="tab">
                     <p class="tt-title">终端操作</p>
                     <p class="tt">1. 如何下载Aeromind客户端？</p>
                     <p>您好，1.Aeromind桌面客户端下载：官网work.gomeplus.com->下载，选择适配电脑系统的版本。<br>
                         2.移动客户端下载，有两种方式：<br>
                         (1)官网work.gomeplus.com->下载，选择适配手机系统的版本或者扫描二维码下载；<br>
                         (2)在各大应用商店中搜索“Aeromind”后进行下载安装，如苹果App store、华为、小米、百度、应用宝等应用商店下载。</p>
                     <p class="tt">2.Aeromind客户端软件各自适应什么系统？</p>
                     <p>Windows客户端：支持Windows7及以上<br>
                                     Mac客户端：支持OS X10.8及以上<br>
                                     Android客户端：Android4.0及以上<br>
                                     iOS客户端：iOS8.0及以上</p>
                     <p class="tt">3.如何登录Aeromind客户端？</p>
                     <p>登录Aeromind桌面端，下载安装桌面客户端软件成功后，加入企业即可登录。<br>
                                     登录Aeromind 移动端，下载安装移动客户端软件成功后，加入企业即可登录。</p>
                 </div> -->
            </div>
            <div class="menu_tab menu-two" id="menu2">
                <p class="two-title">Aeromind用户服务协议</p>
                <p class="xie-one">欢迎您使用Aeromind软件（以下简称“本软件”）及服务！</p>
                <p class="xie-two">[审慎阅读]
                    为使用Aeromind软件及服务，您应当阅读并遵守《Aeromind用户服务协议》（以下简称“本协议”）。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。限制、免责条款可能以加粗形式提示您注意，您应重点阅读。</p>
                <p class="xie-two">
                    除非您已充分阅读并接受本协议所有条款，否则您无权下载、安装或使用本软件及相关服务。您的下载、安装、使用、获取Aeromind服务管理帐号及Aeromind最终用户帐号（以下简称“Aeromind帐号”）、登录等行为即视为您已阅读并同意上述协议的约束。届时您不应以未阅读本协议的内容或者其他理由，主张本协议无效，或要求撤销本协议。如果您不同意本协议或其中任何条款约定，您应立即停止注册、停止使用。<br>
                    如果您未满18周岁，请在法定监护人的陪同下阅读本协议及其他单独协议，并特别注意未成年人使用条款。
                </p>
                <h3>一、协议的范围</h3>
                <p class="xie-four">1.1协议适用主体范围</p>
                <p class="xie-four">
                    1.1.1本协议是通过Aeromind网站、移动客户端软件及其他方式使用Aeromind服务的用户与美信网络技术有限公司（以下简称运营方）之间关于您下载、安装、使用、复制本软件，以及使用本软件相关服务所订立的协议。</p>
                <p class="xie-four">
                    1.1.2 “Aeromind用户”是指注册、登录、使用Aeromind软件及服务并获得管理权限的个人或组织，在本协议中更多地称为“您”。“最终用户”是指通过Aeromind用户获得Aeromind软件使用权限的个人用户。前述“Aeromind用户”及“最终用户”统称为“用户”或“所有用户”。</p>
                <p class="xie-three">1.2协议内容</p>
                <p class="xie-three">
                    本协议内容同时包括运营方已经发布或将来可能发布的关于本服务的相关协议、业务规则、各项政策、通知、警示、提示、声明等内容。上述内容一经正式发布，即为本协议不可分割的组成部分，您同样应当遵守。</p>
                <h3>二、关于本服务</h3>
                <p class="xie-three">2.1本服务的内容</p>
                <p class="xie-four">
                    本服务内容是指运营方向用户提供的基于办公场景的SaaS云服务平台（以下简称“Aeromind”），支持单人、多人参与，在发送语音、图片和文字等即时通讯服务的基础上，同时为用户提供包括但不限于组织管理、音视频通话、企业通讯录、企业级应用等服务（以下简称“本服务”）。</p>
                <p class="xie-three">2.2本服务的形式</p>
                <p class="xie-four">
                    2.2.1您使用本服务需要注册Aeromind帐号并下载Aeromind客户端软件，本软件运营方将向您提供Aeromind的管理权限、使用功能和使用说明等服务，并尽应有之努力保障本服务的正常运行。</p>
                <p class="xie-four">
                    2.2.2本服务中Aeromind客户端软件提供包括但不限于Windows、Mac、iOS、Android、web等多个应用版本（具体以Aeromind提供的版本为准），用户必须选择与所安装终端设备相匹配的软件版本。Aeromind会不断丰富应用版本等，如您已注册使用一种版本的服务，则可以以同一帐号使用其他版本的服务，本协议自动适用于您所使用的所有版本的软件和服务。</p>
                <p class="xie-four">
                    2.2.3您可以申请Aeromind服务管理帐号，并可通过该管理帐号上传和管理组织成员通讯录，邀请组织成员加入，并通过Aeromind实现内部成员沟通、工作互动等目的。</p>
                <p class="xie-three">2.3本服务许可的范围</p>
                <p class="xie-four">2.3.1运营方给予您一项不可转让的、非排他性的许可，以使用本软件。</p>
                <p class="xie-four">2.3.2您可以为使用本软件及服务的目的复制本软件的一个副本，仅用作备份。备份副本必须包含原软件中含有的所有著作权信息。</p>
                <p class="xie-four">
                    2.3.3本条及本协议其他条款未明示授权的其他一切权利仍由运营方保留，您在行使这些权利时须另外取得运营方的书面许可。运营方如果未行使前述任何权利，并不构成对该权利的放弃。</p>
                <h3>三、软件的获取</h3>
                <p class="xie-three">3.1您可以直接从Aeromind官方网站上获取本软件，也可以从得到运营方授权的第三方获取。</p>
                <p class="xie-three" style="font-weight: bold;">
                    3.2如果您从未经运营方授权的第三方获取本软件或与本软件名称相同的安装程序，运营方无法保证该软件能够正常使用，并对因此给您造成的损失不予负责。</p>
                <h3>四、软件的安装与卸载</h3>
                <p class="xie-three" style="font-weight: bold;">4.1运营方可能为不同的终端设备开发了不同的软件版本，您应当根据实际情况选择下载合适的版本进行安装。</p>
                <p class="xie-three">4.2下载安装程序后，您需要按照该程序提示的步骤正确安装。</p>
                <p class="xie-three">4.3如果您不再需要使用本软件或者需要安装新版软件，可以自行卸载。</p>
                <h3>五、软件的更新</h3>
                <p class="xie-three">5.1为了改善用户体验、完善服务内容，运营方将不断努力开发新的服务，并为您提供软件更新（这些更新可能会采取软件替换、修改、功能强化、版本升级等形式）。</p>
                <p class="xie-three">
                    5.2您同意，运营方可能通过官网公告、更新日志等方式向用户通知软件更新情况，运营方不需向您特别通知。同时，为了保证本软件及服务的安全性和功能的一致性，运营方有权不经您同意而对软件进行更新或者对软件的部分功能效果进行改变或限制。</p>
                <p class="xie-three">5.3本软件新版本发布后，旧版本的软件可能无法使用。运营方不保证旧版本软件及相应的客户服务继续可用，请您随时核对并下载最新版本。</p>
                <h3>六、用户信息保护</h3>
                <p class="xie-three">
                    6.1保护用户信息是运营方的一项基本原则，运营方将会采取合理的措施保护用户的信息。除法律法规规定的情形外，未经用户许可运营方不会向第三方公开、透露用户信息。运营方对相关信息采用专业加密存储与传输方式，保障用户信息的安全。</p>
                <p class="xie-three">
                    6.2您在注册帐号或使用本服务的过程中，需要提供一些必要的信息，例如：为向您提供帐号注册服务或进行用户身份识别，需要您填写手机号码。若国家法律法规或政策有特殊规定的，您需要提供真实的身份信息。若您提供的信息不完整，则无法使用本服务或在使用过程中受到限制。</p>
                <p class="xie-three">6.3运营方将运用各种安全技术和程序建立完善的管理制度来保护您的个人信息，以免遭受未经授权的访问、使用或披露。</p>
                <p class="xie-three">
                    6.4Aeromind用户应当建立信息安全保护制度并对最终用户进行信息安全教育，包括但不限于：将管理权限交予适当的人选；合理设定相关人员的管理权限；提醒或要求最终用户注意信息安全和帐号安全，防止帐号被他人使用而导致的信息泄露。</p>
                <p class="xie-three">6.5未经您的同意，运营方不会向运营方以外的任何公司、组织和个人披露您的个人信息，但法律法规另有规定的除外。</p>
                <p class="xie-three">6.6运营方非常重视对未成年人个人信息的保护。若您是18周岁以下的未成年人，在使用本软件服务前，应事先取得您家长或法定监护人的书面同意。</p>
                <p class="xie-three">
                    6.7您应对通过本服务了解、接收或可接触到的包括但不限于其他用户在内的任何人的个人信息予以充分尊重，您不应以搜集、复制、存储、传播或以其他任何方式使用其他用户的个人信息，否则，由此产生的后果由您自行承担。</p>
                <h3>七、主权利义务条款</h3>
                <p class="xie-three">7.1帐号使用规范</p>
                <p class="xie-four">
                    7.1.1您在使用本服务前需要注册一个Aeromind服务管理帐号，并向最终用户分配最终用户帐号，为保障Aeromind帐号安全并获得提供服务所必要的用户信息，最终用户需通过手机号码验证后方能使用Aeromind帐号。Aeromind服务管理帐号可通过官网企业注册入口进行注册。运营方有权根据用户需求或产品需要对帐号注册方式进行变更，关于您使用帐号的具体规则，请遵守本协议以及运营方为此发布的专项规则。</p>
                <p class="xie-four" style="font-weight: bold;">
                    7.1.2您了解并同意，Aeromind帐号（包括服务管理账号及最终用户账号）的所有权归运营方所有，用户完成申请注册手续后，仅获得Aeromind帐号的使用权。Aeromind账号使用权仅归属于初始申请注册人，不得以赠与、借用、租用、转让或售卖Aeromind帐号或者其他任何方式许可他人使用。否则，运营方有权立即不经通知收回该账号，由此带来的因您使用本服务产生的全部数据、信息等被清空、丢失等的损失，您应自行承担。</p>
                <p class="xie-four" style="font-weight: bold;">
                    7.1.3用户应当按照法律法规和本服务要求，按相应页面的提示准确提供并及时更新用户的资料，以使之真实、及时、完整和准确。您承诺注册的账号名称、昵称、设置的头像和简介等信息中不得出现违法和不良信息，不得冒充他人进行注册，不得未经许可为他人注册，不得以可能误导其他用户的方式注册帐号，不得使用可能侵犯他人权益的用户名进行注册（包括但不限于涉嫌商标权、名誉权侵权等），否则运营方有权注销该帐号。</p>
                <p class="xie-four" style="font-weight: bold;">
                    7.1.4在成功注册后，运营方将根据账号和密码确认用户的身份。您有责任妥善保管注册帐户信息及帐户密码的安全，并对注册帐户以及密码下的行为承担法律责任。您同意在任何情况下不向他人透露帐户及密码信息。当您怀疑或发现他人在使用您的帐号或者发生其他任何安全问题时，您应立即通知运营方。您同意并确认，运营方不对上述情形产生的任何直接或间接的遗失或损害承担责任。</p>
                <p class="xie-four" style="font-weight: bold;">
                    7.1.5您确认，在您完成注册程序或以其他运营方允许的方式实际使用本服务时，您应当是具备完全民事权利能力和与所从事的民事行为相适应的行为能力的自然人、法人或其他组织。若您不具备前述主体资格，请勿使用本服务，否则您及您的监护人应承担因此而导致的一切后果，且运营方有权注销（永久冻结）您的账户，给运营方造成损失的，运营方有权向您追偿。如您代表一家公司或其他法律主体进行注册或以其他运营方允许的方式实际使用本服务的，则您声明和保证，您有权使该公司或该法律主体受本协议的约束。</p>
                <p class="xie-three">7.2用户注意事项</p>
                <p class="xie-four">
                    7.2.1您理解并同意：为了向您提供有效的服务，本软件会利用您终端设备的处理器和带宽等资源。本软件使用过程中可能产生数据流量的费用，用户需自行向运营商了解相关资费信息，并自行承担相关费用。</p>
                <p class="xie-four">7.2.2您理解并同意：本软件会让最终用户查询到本企业或组织内其他最终用户的信息，但管理员可以通过管理权限限制最终用户的信息查阅权限。</p>
                <p class="xie-four">
                    7.2.3您在使用本软件某一特定服务或功能时，该服务功能可能会另有单独的协议、相关业务规则等（以下统称为“单独协议”），且该特定服务或功能也可能由其他主体提供，您在使用该项服务或功能前请仔细阅读并同意相关的单独协议。您使用前述特定服务，即视为您接受相关单独协议。</p>
                <p class="xie-four" style="font-weight: bold;">
                    7.2.4您理解并同意运营方将会尽其商业上的合理努力保障您在本软件及服务中的数据存储安全，但是，运营方并不能就此提供完全保证，包括但不限于以下情形</p>
                <p class="xie-four" style="font-weight: bold;">7.2.4.1运营方不对您在本软件及服务中相关数据的删除或储存失败负责；</p>
                <p class="xie-four" style="font-weight: bold;">
                    7.2.4.2运营方有权根据实际情况自行决定用户在本软件及服务中数据的最长储存期限，并在服务器上为其分配数据最大存储空间等。您可根据自己的需要自行备份本软件及服务中的相关数据；</p>
                <p class="xie-four" style="font-weight: bold;">
                    7.2.4.3如果您停止使用本软件及服务或服务被终止、取消，运营方可以从服务器上永久地删除您的数据。服务停止、终止或取消后，运营方没有义务向您返还任何数据。</p>
                <p class="xie-four" style="font-weight: bold;">7.2.5用户在使用本软件及服务时，须自行承担如下来自运营方不可掌控的风险内容，包括但不限于</p>
                <p class="xie-four" style="font-weight: bold;">7.2.5.1由于不可抗拒因素可能引起的用户信息丢失、泄漏等风险；</p>
                <p class="xie-four" style="font-weight: bold;">
                    7.2.5.2用户必须选择与所安装终端设备相匹配的软件版本，否则，由于软件与终端设备型号不相匹配所导致的任何问题或损害，均由用户自行承担；</p>
                <p class="xie-four">7.2.5.3用户在使用本软件访问第三方网站时，因第三方网站及相关内容所可能导致的风险，由用户自行承担；</p>
                <p class="xie-four" style="font-weight: bold;">7.2.5.4用户发布的内容被他人转发、分享，因此等传播可能带来的风险和责任；</p>
                <p class="xie-four" style="font-weight: bold;">
                    7.2.5.5由于网络信号不稳定、网络带宽小等网络原因，所引起的Aeromind登录失败、资料同步不完整、页面打开速度慢等风险。</p>
                <p class="xie-three">7.3AeromindAPI</p>
                <p class="xie-four">
                    7.3.1运营方在Aeromind平台向您提供了对Aeromind帐号功能进行开发的各项服务（以下简称“开发服务”），您应按照本协议和开发者文档等规范和技术要求自行开发，您应对使用该开发服务所产生的内容自行独立承担责任，如因此造成运营方或第三方损失的，您应当赔偿。</p>
                <p class="xie-four">7.3.2未经运营方书面许可，您不得将开发服务用于任何其他目的及用途，或委托、授权及泄漏给任何第三方为任何方式的使用。</p>
                <p class="xie-four">7.3.3您使用开发服务所进行的开发全过程除应符合Aeromind开发者文档的明确要求外，还应符合相关法律法规、技术规范标准以及运营方在技术、安全等方面的相关要求，
                    以确保相关Aeromind帐号安全、稳定地运营。本协议使用规范同时包含本协议条款、Aeromind相关开发者文档以及其他相应接口的开发者文档，您使用开发服务应当同时遵守上述规范，否则运营方有权依照本协议采取处理措施。</p>
                <p class="xie-four">7.3.4您在使用开发服务过程中不得从事以下行为，也不得为以下行为提供便利，该等行为包括但不限于：</p>
                <p class="xie-four">7.3.4.1在未获得运营方书面许可的情况下，以任何方式使用AeromindURL地址、本服务外的其他技术接口等；</p>
                <p class="xie-four">7.3.4.2为任何其他用户自动登录到Aeromind提供代理身份验证凭据；</p>
                <p class="xie-four">7.3.4.3自动将浏览器窗口定向到其他网页；</p>
                <p class="xie-four">7.3.4.4公开表达或暗示您与运营方之间存在合作关系，包括但不限于相互持股、商业往来或合作关系等；</p>
                <p class="xie-four">7.3.4.5利用开发服务在您的Aeromind帐号下开发任何形式的网络平台服务；</p>
                <p class="xie-four">7.3.4.6侵犯他人的合法权益，包括但不限于：著作权、商标权、专利权等知识产权及其他相关权益；</p>
                <p class="xie-four">7.3.4.7其他运营方认为不应该、不适当的行为或内容。</p>
                <p class="xie-four">7.3.5您使用开发服务通过Aeromind帐号向其他用户提供服务的过程中，对于其他用户或最终用户数据的收集、保存、使用等必须满足以下要求：</p>
                <p class="xie-four">
                    7.3.5.1必须事先获得其他用户或最终用户的明确同意，且仅应当收集为运营及功能实现目的而必需的用户数据，同时应当告知其他用户或最终用户相关数据收集的目的、范围及使用方式等，保障其他用户及最终用户的知情权和选择权；</p>
                <p class="xie-four">7.3.5.2您对收集的相关用户数据，必须采取必要的保护措施，防止用户数据被盗、泄漏等；</p>
                <p class="xie-four">
                    7.3.5.3您在特定Aeromind帐号建立的企业架构中收集的用户数据仅可以在该特定Aeromind帐号的企业架构中使用，不得将其使用在该特定Aeromind帐号的企业架构之外或为其他任何目的进行使用，也不得以任何方式将其提供给他人；</p>
                <p class="xie-four">
                    7.3.5.4一旦您停止使用开发服务，或运营方基于任何原因终止您使用开发服务，您必须立即删除全部因使用该服务而获得的数据（包括各种备份），且不得再以任何方式进行使用；</p>
                <p class="xie-four">
                    7.3.5.5您应自行对因使用开发服务而获得的各类数据和信息，采取合理、安全的技术措施，确保其安全性，并对自己的行为（包括但不限于自行安装软件、采取加密措施或进行其他安全措施等）所引起的结果承担全部责任。</p>
                <p class="xie-three">7.4第三方产品和服务</p>
                <p class="xie-four">
                    7.4.1您在使用本软件第三方提供的产品或服务时，除遵守本协议约定外，还应遵守第三方的用户协议。运营方和第三方对可能出现的纠纷在法律规定和约定的范围内各自承担责任。</p>
                <p class="xie-four" style="font-weight: bold;">
                    7.4.2因用户使用本软件或要求运营方提供特定服务时，本软件可能会调用第三方系统或者通过第三方支持用户的使用或访问，使用或访问的结果由该第三方提供（包括但不限于通话功能：可能通过电信运营商系统提供的通话服务），运营方不保证通过第三方提供服务及内容的安全性、准确性、有效性及其他不确定的风险，由此若引发的任何争议及损害，与运营方无关，运营方不承担任何责任。</p>
                <p class="xie-four" style="font-weight: bold;">
                    7.4.3您理解并同意，运营方有权决定将本软件作商业用途，包括但不限于开发、使用本软件的部分服务为第三方作推广等，运营方承诺在推广过程中严格按照本协议约定保护用户信息。</p>
                <h3>八、用户行为规范</h3>
                <p class="xie-three" style="font-weight: bold;">8.1信息内容规范</p>
                <p class="xie-four" style="font-weight: bold;">
                    8.1.1本条所述信息内容是指用户使用本软件及服务过程中所制作、复制、发布、传播的任何内容，包括但不限于Aeromind帐号头像、名称、用户说明等注册信息，或文字、语音、图片等发送、回复、公告和相关链接页面，以及其他使用Aeromind帐号或本软件及服务所产生的内容。</p>
                <p class="xie-four" style="font-weight: bold;">
                    8.1.2您理解并同意，运营方一直致力于为用户提供文明健康、规范有序的网络环境，您不得利用Aeromind帐号或本软件及服务制作、复制、发布、传播如下干扰运营方软件正常运营，以及侵犯其他用户或第三方合法权益的内容，包括但不限于：</p>
                <p class="xie-four" style="font-weight: bold;">8.1.2.1发布、传送、传播、储存违反国家法律法规禁止的内容：<br>
                    （1）违反宪法确定的基本原则的；<br>
                    （2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<br>
                    （3）损害国家荣誉和利益的；<br>
                    （4）煽动民族仇恨、民族歧视，破坏民族团结的；<br>
                    （5）破坏国家宗教政策，宣扬邪教和封建迷信的；<br>
                    （6）散布谣言，扰乱社会秩序，破坏社会稳定的；<br>
                    （7）散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；<br>
                    （8）侮辱或者诽谤他人，侵害他人合法权益的；<br>
                    （9）煽动非法集会、结社、游行、示威、聚众扰乱社会秩序；<br>
                    （10）以非法民间组织名义活动的；<br>
                    （11）不符合《即时通信工具公众信息服务发展管理暂行规定》及遵守法律法规、社会主义制度、国家利益、公民合法利益、公共秩序、社会道德风尚和信息真实性等“七条底线”要求的；<br>
                    （12）含有法律、行政法规禁止的其他内容的。
                </p>
                <p class="xie-four" style="font-weight: bold;">8.1.2.2发布、传送、传播、储存侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的内容；</p>
                <p class="xie-four" style="font-weight: bold;">8.1.2.3涉及他人隐私、个人信息或资料的；</p>
                <p class="xie-four" style="font-weight: bold;">8.1.2.4发表、传送、传播骚扰、广告信息、过度营销信息及垃圾信息或含有任何性或性暗示的；</p>
                <p class="xie-four" style="font-weight: bold;">
                    8.1.2.5其他违反法律法规、政策及公序良俗、社会公德或干扰运营方正常运营和侵犯其他用户或第三方合法权益内容的信息。</p>
                <p class="xie-three" style="font-weight: bold;">8.2软件使用规范</p>
                <p class="xie-four" style="font-weight: bold;">8.2.1除非法律允许或运营方书面许可，您使用本软件过程中不得从事下列行为：</p>
                <p class="xie-four" style="font-weight: bold;">8.2.1.1删除本软件及其副本上关于著作权的信息；</p>
                <p class="xie-four" style="font-weight: bold;">8.2.1.2对本软件进行反向工程、反向汇编、反向编译，或者以其他方式尝试发现本软件的源代码；</p>
                <p class="xie-four" style="font-weight: bold;">
                    8.2.1.3对运营方拥有知识产权的内容进行使用、出租、出借、复制、修改、链接、转载、汇编、发表、出版、建立镜像站点等；</p>
                <p class="xie-four" style="font-weight: bold;">
                    8.2.1.4对本软件或者本软件运行过程中释放到任何终端内存中的数据、软件运行过程中客户端与服务器端的交互数据，以及本软件运行所必需的系统数据，进行复制、修改、增加、删除、挂接运行或创作任何衍生作品，形式包括但不限于使用插件、外挂或非运营方经授权的第三方工具/服务接入本软件和相关系统；</p>
                <p class="xie-four" style="font-weight: bold;">
                    8.2.1.5通过修改或伪造软件运行中的指令、数据，增加、删减、变动软件的功能或运行效果，或者将用于上述用途的软件、方法进行运营或向公众传播，无论这些行为是否为商业目的；</p>
                <p class="xie-four" style="font-weight: bold;">
                    8.2.1.6通过非运营方开发、授权的第三方软件、插件、外挂、系统，登录或使用运营方软件及服务，或制作、发布、传播上述工具；</p>
                <p class="xie-four" style="font-weight: bold;">8.2.1.7自行或者授权他人、第三方软件对本软件及其组件、模块、数据进行干扰；</p>
                <p class="xie-four" style="font-weight: bold;">8.2.1.8其他未经运营方明示授权的行为。</p>
                <p class="xie-four" style="font-weight: bold;">
                    8.2.2您理解并同意，基于用户体验、运营方相关服务平台运营安全、平台规则要求及健康发展等综合因素，运营方有权选择提供服务的对象，有权决定功能设置，有权决定功能开放、数据接口和相关数据披露的对象和范围。如果用户的行为存在以下情形，运营方有权视具体情况中止或终止提供本服务，包括但不限于：</p>
                <p class="xie-four" style="font-weight: bold;">8.2.2.1违反法律法规、本协议规定或不符合运营方其他管理要求的；</p>
                <p class="xie-four" style="font-weight: bold;">8.2.2.2从事影响本软件服务体验的行为；</p>
                <p class="xie-four" style="font-weight: bold;">
                    8.2.2.3继续使用可能存在安全隐患的，包括但不限于对用户自身或第三方人身、财产构成安全隐患的，对公共安全构成安全隐患的等情形。</p>
                <p class="xie-three" style="font-weight: bold;">8.3服务运营规范<br>除非法律允许或运营方书面许可，您使用本服务过程中不得从事下列行为：</p>
                <p class="xie-four" style="font-weight: bold;">8.3.1提交、发布虚假信息，或冒充、利用他人名义的；</p>
                <p class="xie-four" style="font-weight: bold;">8.3.2诱导其他用户点击链接页面或分享信息的；</p>
                <p class="xie-four" style="font-weight: bold;">8.3.3虚构事实、隐瞒真相以误导、欺骗他人的；</p>
                <p class="xie-four" style="font-weight: bold;">8.3.4侵害他人名誉权、肖像权、知识产权、商业秘密等合法权益的；</p>
                <p class="xie-four" style="font-weight: bold;">8.3.5未经运营方书面许可利用Aeromind帐号和任何功能，进行推广或互相推广的；</p>
                <p class="xie-four" style="font-weight: bold;">8.3.6利用Aeromind帐号或本软件及服务从事任何违法犯罪活动的；</p>
                <p class="xie-four" style="font-weight: bold;">
                    8.3.7制作、发布与以上行为相关的方法、工具，或对此类方法、工具进行运营或传播，无论这些行为是否为商业目的；</p>
                <p class="xie-four" style="font-weight: bold;">8.3.8其他违反法律法规规定、侵犯其他用户合法权益、干扰本软件正常运营或运营方未明示授权的行为。</p>
                <p class="xie-three" style="font-weight: bold;">8.4对自己行为负责<br>您充分理解并同意，您必须为自己Aeromind帐号下的一切行为负责，包括您所发表的任何内容以及由此产生的任何后果。您应对本服务中的内容自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容的正确性、完整性或实用性的依赖而产生的风险。运营方无法且不会对因前述风险而导致的任何损失或损害承担责任。
                </p>
                <p class="xie-three" style="font-weight: bold;">8.5违约处理</p>
                <p class="xie-four" style="font-weight: bold;">
                    8.5.1如果运营方发现或收到他人举报或投诉用户违反本协议约定的，运营方有权不经通知随时对相关内容进行删除、屏蔽，并视行为情节对违规帐号处以包括但不限于警告、限制或禁止使用部分或全部功能、帐号封禁直至注销的处罚，并公告处理结果。</p>
                <p class="xie-four" style="font-weight: bold;">
                    8.5.2您理解并同意，运营方有权依合理判断对违反有关法律法规或本协议规定的行为进行处罚，对违法违规的任何用户采取适当的法律行动，并依据法律法规保存有关信息向有关部门报告等，用户应独自承担由此而产生的一切法律责任。</p>
                <p class="xie-four" style="font-weight: bold;">
                    8.5.3您理解并同意，因您违反本协议或相关服务条款的规定，导致或产生第三方主张的任何索赔、要求或损失，您应当独立承担责任；运营方因此遭受损失的，您也应当一并赔偿。</p>
                <h3>九、服务费用</h3>
                <p class="xie-three" style="font-weight: bold;">
                    9.1本服务的任何免费试用或免费功能和服务不应视为运营方放弃本软件的任何服务或功能后续收费的权利。运营方有权提前10个工作日
                    以公告形式通知您收费标准，若您继续使用则需按运营方公布的收费标准支付费用。</p>
                <p class="xie-three">
                    9.2运营方有权根据实际情况单方调整费用标准及收费方式，并提前10个工作日以公告形式通知您，而无需向您特别通知或获得您的事先同意，如您不同意收费应当立即停止服务的使用，否则使用则视为您已同意并应当缴纳费用。</p>
                <p class="xie-three">9.3您应当自行支付使用本软件可能产生的上网费，其他第三方收取的通讯费、信息费等。</p>
                <h3>十、终端安全责任</h3>
                <p class="xie-three">
                    10.1您理解并同意，本软件同大多数互联网软件一样，可能会受多种因素影响，包括但不限于用户原因、网络服务质量、社会环境等；也可能会受各种安全问题的侵扰，包括但不限于他人非法利用用户资料，进行现实中的骚扰；用户下载安装的其他软件或访问的其他网站中可能含有病毒、木马程序或其他恶意程序，威胁您的终端设备信息和数据安全，继而影响本软件的正常使用等。因此，您应加强信息安全及个人信息的保护意识，注意密码保护，以免遭受损失。</p>
                <p class="xie-three">10.2您不得制作、发布、使用、传播用于窃取Aeromind帐号及他人个人信息、财产的恶意程序。</p>
                <p class="xie-three" style="font-weight: bold;">
                    10.3维护本软件安全与正常使用是运营方和您的共同责任，运营方将按照行业标准合理审慎地采取必要技术措施保护您的终端设备信息和数据安全，但是您承认和同意运营方并不能就此提供完全保证。</p>
                <p class="xie-three" style="font-weight: bold;">
                    10.4在任何情况下，您不应轻信借款、索要密码或其他涉及财产的网络信息。涉及财产操作的，请一定先核实对方身份，并请经常留意运营方有关防范诈骗犯罪的提示。</p>
                <h3>十一、第三方软件或技术</h3>
                <p class="xie-three">11.1本软件可能会使用第三方软件或技术（包括本软件可能使用的开源代码和公共领域代码等，下同），这种使用已经获得合法授权。</p>
                <p class="xie-three">11.2本软件如果使用了第三方的软件或技术，运营方将按照相关法规或约定，对相关的协议或其他文件，可能通过本协议附件、在本软件安装包特定文件夹中打包、或通过开源软件页面等形式进行展示，它们可能会以“软件使用许可协议”、“授权协议”、“开源代码许可证”或其他形式来表达。前述通过各种形式展现的相关协议、其他文件及网页，均是本协议不可分割的组成部分，与本协议具有同等的法律效力，您应当遵守这些要求。如果您没有遵守这些要求，该第三方或者国家机关可能会对您提起诉讼、罚款或采取其他制裁措施，并要求运营方给予协助，您应当自行承担法律责任。</p>
                <p class="xie-three">
                    11.3您了解并同意，第三方软件或技术由第三方独立提供，此时运营方仅作为平台提供者，不对您对该软件或技术的使用承担任何责任。如因使用第三方软件或技术引发的任何纠纷，应由该第三方负责解决，运营方不承担任何责任。运营方不对第三方软件或技术提供客服支持，若您需要获取支持，请与第三方联系。</p>
                <h3>十二、知识产权声明</h3>
                <p class="xie-three">
                    12.1本软件的一切著作权、商标权、专利权、商业秘密等知识产权，以及与本软件相关的所有信息内容（包括但不限于文字、图片、音频、视频、图表、界面设计、版面框架、有关数据或电子文档等）均受中华人民共和国法律法规和相应的国际条约保护,运营方享有上述知识产权，但相关权利人依照法律规定应享有的权利除外。用户未经运营方或相关权利人书面授权不得以任何方式展示、使用或作其他处理，也不得向他人表明您有权展示、使用、或作其他处理。</p>
                <p class="xie-three">12.2运营方为提供网络服务而使用的任何软件（包括但不限于软件中所含的任何图像、照片、动画、录像、录音、音乐、文字和附加程序、随附的帮助材料）的一切权利均属于该软件的著作权人。运营方尊重并采取合理措施保护著作权人的合法利益，并已制定了完善的著作权政策，该政策构成本协议的组成部分。未经软件著作权人许可，用户不得对该软件进行反向工程（reverse
                    engineer）、反向编译（decompile）或反汇编（disassemble）等。</p>
                <p class="xie-three">
                    12.3未经运营方或相关权利人书面同意，您不得为任何商业或非商业目的自行或许可任何第三方实施、利用、转让上述知识产权。您不得在任何媒体直接或间接发布、播放、出于播放或发布目的而改写或再发行，或者被用于其他任何商业目的。所有这些资料或资料的任何部分仅可作为私人用途而保存在某台计算机内。运营方不就由上述资料产生或在传送或递交全部或部分上述资料过程中产生的延误、不准确、错误和遗漏或从中产生或由此产生的任何损害，以任何形式向用户或任何第三方负法律责任。</p>
                <p class="xie-three">12.4您理解并同意授权运营方在宣传和推广中使用您的名称、商标、标识，但仅限于表明您属于我们的客户或合作伙伴。</p>
                <h3>十三、有限责任</h3>
                <p class="xie-three">
                    13.1运营方将按"现状"和按"可得到"的状态提供服务。运营方在此明确声明对服务不作任何明示或暗示的保证，包括但不限于对服务的可适用性，没有错误或疏漏，持续性，准确性，可靠性，适用于某一特定用途之类的保证，声明或承诺。</p>
                <p class="xie-three">13.2运营方对服务所涉的技术和信息的有效性，准确性，正确性，可靠性，质量，稳定，完整和及时性均不作承诺和保证。</p>
                <p class="xie-three">
                    13.3不论在何种情况下，运营方均不对由于Internet连接故障，电脑，通讯或其他系统的故障，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，不可抗力，战争，政府行为，国际、国内法院的命令或第三方的不作为而造成的不能服务或延迟服务承担责任。</p>
                <p class="xie-three">
                    13.4不论是否可以预见，不论是源于何种形式的行为，运营方不对由以下原因造成的任何特别的，直接的，间接的，惩罚性的，突发性的或有因果关系的损害或其他任何损害（包括但不限于利润或利息的损失，营业中止，资料灭失）承担责任。</p>
                <p class="xie-four">13.4.1使用或不能使用本服务；</p>
                <p class="xie-four">13.4.2通过本服务购买或获取任何产品，样品，数据，信息或进行交易等，或其他可替代上述行为的行为而产生的费用；</p>
                <p class="xie-four">13.4.3未经授权的存取或修改数据或数据的传输；</p>
                <p class="xie-four">13.4.4第三方通过本服务所作的陈述或行为；</p>
                <p class="xie-four">13.4.5其它与本服务相关事件，包括疏忽等，所造成的损害。</p>
                <p class="xie-three">
                    13.5您充分了解并同意，鉴于互联网体制及环境的特殊性，您在本服务中分享的信息及个人资料有可能会被他人复制、转载、擅改或做其它非法用途；您在此已充分意识此类风险的存在，并确认此等风险应完全由您自行承担，运营方对此不承担任何责任。</p>
                <p class="xie-three">
                    13.6您了解并同意，在使用本服务过程中可能存在来自任何他人的包括威胁性的、诽谤性的、令人反感的或非法的内容或行为或对他人权利的侵犯（包括知识产权）及匿名或冒名的信息的风险，基于本服务使用规范所述，该等风险应由您自行承担，运营方对此不承担任何责任。</p>
                <h3>十四、有效通知</h3>
                <p class="xie-three">14.1运营方向您发出的任何通知，可采用电子邮件、公告、手机短信或常规信件等方式，且该等通知应自发送之日视为已向用户送达或生效。</p>
                <p class="xie-three">14.2您同意，您向运营方发出的任何通知应发至运营方对外正式公布或以本协议所述方式告知用户的电子邮件、通信地址、传真号码等联系信息进行送达。</p>
                <h3>十五、其他</h3>
                <p class="xie-three">15.1<font style="font-weight: bold;">您使用本软件即视为您已阅读并同意受本协议的约束。</font>运营方有权在必要时修改本协议条款。您可以在本软件的最新版本中查阅相关协议条款。本协议条款变更后，如果您继续使用本软件，即视为您已接受修改后的协议。如果您不接受修改后的协议，应当停止使用本软件。
                </p>
                <p class="xie-three">15.2运营方对于用户过失或违约时放弃本协议规定的权利的，不得视为其对该用户的其他或以后同类之过失或违约行为或其他用户的同类之过失或违约行为弃权。</p>
                <p class="xie-three">
                    15.3本协议之订立、生效、解释、修订、补充、终止、执行与争议解决均适用中华人民共和国大陆地区法律（不包括冲突法）；如法律无相关规定的，参照商业惯例及/或行业惯例。</p>
                <p class="xie-three" style="font-weight: bold;">
                    15.4若您和运营方之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交被告所在地有管辖权的人民法院管辖。</p>
                <p class="xie-three">15.5本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</p>
                <p class="xie-three">15.6本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</p>
            </div>
            <div class="menu_tab menu-three" id=menu3>
                <p class="two-title">隐私政策</p>
                <p class="xie-four speaci">欢迎您使用Aeromind软件（以下简称“本软件”）及服务！</p>
                <p class="xie-four">
                    运营方非常重视用户的隐私权，以下是运营方对您信息收集、使用和保护的政策，请您认真阅读。随着服务范围的扩大和调整，我们可能随时更新我们的隐私政策，恕不另行通知，更新后的隐私政策一旦在网页上公布、更新即有效取代原有隐私政策。</p>
                <p class="xie-four">1.信息的收集和使用</p>
                <p class="xie-four">1.1当您在本软件注册时，运营方会要求您提供个人资料；对于您使用本服务须创建的个人资料，我们可能会向拥有您电子邮件地址或其他身份信息的人士进行展示；</p>
                <p class="xie-four">
                    1.2在您使用本服务，或访问本服务网站时，运营方将自动接收并记录您的浏览器和计算机上的信息，包括但不限于您的IP地址、浏览器的类型、使用的语言、访问日期和时间、软硬件特征信息、您需求的网页记录及本软件Cookies信息等；</p>
                <p class="xie-four">
                    1.3如果您已安装本软件移动客户端，则运营方可能会读取您的移动设备属性及其存储信息，包括但不限于您使用设备的品牌及型号、设备的识别码、电信运营商、所在国家或地区，您的手机号码、您的通讯录，以及您的所在地等信息；</p>
                <p class="xie-four">1.4当您在使用本软件执行某些操作时，我们可能会向您或其他人发送通知；</p>
                <p class="xie-four">
                    1.5对于您在本软件使用的第三方应用服务，运营方将在您启动该应用时收集相关信息，并按照本隐私政策进行处理；第三方应用服务提供者可能会获取您于Aeromind服务的个人信息，其对信息的收集受其自身隐私权政策的约束。</p>
                <p class="xie-four">1.6运营方将对其他用户进行与您相关的操作时收集关于您的信息，亦可能从运营方关联公司、合作第三方或通过其他合法途径获取的您的个人数据信息；</p>
                <p class="xie-four">1.7运营方有权根据实际情况自行决定您在本软件及服务中数据的最长储存期限、服务器中数据的最大存储空间等。</p>
                <p class="xie-four">2.信息的公开和分享</p>
                <p class="xie-four">在未经您同意之前，运营方不会向任何第三方提供、出售、出租、分享和交易您的个人资料，但以下情形除外：</p>
                <p class="xie-four">2.1为遵守法律法规之要求，包括在国家有关机关或其授权的单位查询时，向其提供有关资料；</p>
                <p class="xie-four">2.2为免除您在生命、身体或财产方面之急迫危险，或为防止他人权益之重大危害；</p>
                <p class="xie-four">.2.3为保护运营方及其关联公司、或其用户的权利及财产；</p>
                <p class="xie-four">2.4在您被他人投诉侵犯知识产权或其他合法权利时，需要向投诉人披露您的必要资料，以便进行投诉处理的；</p>
                <p class="xie-four">2.5只有透露您的资料，才能提供您所要求的产品和服务；</p>
                <p class="xie-four">3.信息安全</p>
                <p class="xie-four">
                    运营方具有相应的技术和安全措施来确保我们掌握的信息不丢失，不被滥用和变造。尽管我们有这些安全措施，但请注意在互联网上不存在“完善的安全措施”，您应当妥善保管好终端、账号及密码及相关信息和内容，运营方对您自身原因导致的数据丢失或被盗以及在本软件及服务中相关数据的删除或储存失败不承担责任。</p>
                <p class="xie-four">4.Cookies</p>
                <p class="xie-four">
                    Cookies是少量的数据，在您未拒绝接受cookies的情况下，cookies将被发送到您的浏览器，并储存在您的计算机硬盘。您有权选择接受或拒绝接受cookies。您可以通过修改浏览器的设置以拒绝接受cookies，但是我们需要提醒您，因为您拒绝接受cookies，您可能无法使用依赖于cookies的Aeromind服务的部分功能。</p>
                <p class="xie-four">5.外部链接</p>
                <p class="xie-four">
                    本软件可能含有到其他网站的链接。运营方对其他网站的隐私保护措施不负任何责任。我们可能在任何需要的时候增加商业伙伴或共用品牌的网站，但是提供给他们的将仅仅是综合信息，我们将不会公开您的身份。</p>
            </div>
        </div>
    </div>
    <%include ./footer.html%>
</div>
</body>
</html>
<script>

    var menu = document.getElementById('menu');
    /*获取左边三个菜单*/
    var tab = document.getElementById('content');
    var tabs = tab.children;
    var ass = menu.children;
    /*三个菜单数组*/
    var ulmenu = document.getElementById('ulmenu');
    /*获取右面第一菜单的容器*/
    var menu1 = document.getElementById('menu1');
    /*获取第一菜单三个容器*/
    var menu2 = document.getElementById('menu2');
    var menu3 = document.getElementById('menu3');
    var lis = ulmenu.getElementsByTagName('a');
    var divs = menu1.children;
    var onebox = document.getElementById('onebox');
    var one = document.getElementById('one');
    var two = document.getElementById('two');
    var three = document.getElementById('three');
    var aH3 = document.getElementsByClassName('h3');
    var sel = '<%=para%>';

     if (sel == '0') {
        menu1.style.display = "block";
        onebox.style.height = "auto";
        menu2.style.display = "none";
        menu3.style.display = "none";
        onebox.classList.add('active');
        two.classList.remove('active');
        three.classList.remove('active');
    }else if(sel == '1'){
        menu1.style.display = "none";
        onebox.style.height = "50px";
        menu2.style.display = "block";
        menu3.style.display = "none";
        two.classList.add('active');
        onebox.classList.remove('active');
        three.classList.remove('active');
    }else if(sel == '2'){
        menu1.style.display = "none";
        onebox.style.height = "50px";
        menu2.style.display = "none";
        menu3.style.display = "block";
        three.classList.add('active');
        onebox.classList.remove('active');
        two.classList.remove('active');
    }

    // click change tag
    for (var i = 0; i < lis.length; i++) {
        lis[i].index = i;
        lis[i].onclick = function () {
            for (var i = 0; i < lis.length; i++) {
                lis[i].classList.remove('selected');
            }
            this.classList.add('selected');
            for (var j = 0; j < divs.length; j++) {
                divs[j].style.display = "none";
            }
            divs[this.index].style.display = 'block';
        }
    }
    /*
     *{
     {menu:'name1',children:[menu:'dd1',menu:'dd2',menu:'dd3']},
     {menu:'name2'},
     {menu:'name3'}
     */
    menu.onclick = function (e) {
        var d = e.target || e.srcElement, obj = {"one": 1, "two": 2, "three": 3, "onebox": 1},
            show_c = function (p) {
                for (var y = 0; y < tabs.length; y++) {
                    tabs[y].style.display = "none";
                }
                p--;
                tabs[p].style.display = 'block';
            };
        console.log(d.tagName);
        // 获取三个标签
        if (d.tagName === "A" && d.parentNode === menu) {
            show_c(obj[d.id]);
            if (aH3.length) {
                for (var i = 0; i < aH3.length; i++) {
                    aH3[i].classList.remove('active');
                }
            }
            d.classList.add('active');
            // for(){}
            // nextsbling
            if (onebox.style.height !== "50px") {
                onebox.style.height = "50px";
                onebox.classList.remove('active');
            }
        }
        if (d.tagName === "A") {
            one.classList.remove('arrowe');
            one.classList.add('arrow');
        } else {
            one.classList.add('arrowe');
        }
        if ((d.tagName === "SPAN" && d.parentNode.parentNode === menu) || (d.tagName === "DIV" && d.parentNode === menu)) {
            show_c(obj[d.id]);
            if (aH3.length) {
                for (var i = 0; i < aH3.length; i++) {
                    aH3[i].classList.remove('active');
                }
            }
            if (onebox.style.height === "50px") {
                onebox.style.height = "auto";
                one.classList.remove('arrow');
                onebox.classList.add('active');

            } else {
                onebox.style.height = "50px";
                one.classList.add('arrow');
                onebox.classList.remove('active');
            }
        }
        // while(e.parentNode !== menu){

        // }
        // if{
        //     show_c(obj[d.id]);
        // }
    }

</script>
